<import: src='./home'>
<import: src='./room'>
<import: src='./login'>


<Head:>
  <view name="d-codemirror:includes" static='/cm'></view>
   <view name="d-showdown:includes" static='/showdown'></view>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto:400,600' rel='stylesheet' type='text/css'>

<Title:>
  {{_page.title}}

<Body:>
  <view is="header"/>
  <view is="{{$render.ns}}"/>
  <view is="footer" year="2014" />


<header:>
  <div class="nav-header">
    <a class="nav-link" href="/">Home</a>
    {{console.log("session", _session)}}
    {{if !_session.loggedIn}}
     <a class="login nav-link" href="/auth/github?next={{$render.url}}">login</a>
     {{else}}
     <a class="logout nav-link" href="/auth/logout">logout</a>
    {{/if}}
  </div>

<footer:>
  <div class="footer">
  </div>