<index:>
  <div class="track-nav">
    <div class="name">
      {{if canEdit()}}
      <input value="{{#root.tracks[#root._page.trackId].name}}">
      {{else}}
        {{#root.tracks[#root._page.trackId].name}}
      {{/if}}
    </div>
    <br>
  </div>
  <div class="track-content {{if editing.description || editing.data}}open{{/if}}">
    <div class="description">
      {{if canEdit()}}
        <a class="btn" on-click="edit('description')">
        {{if editing.description}}
          Done editing
        {{else}}
          Edit description
        {{/if}}
        </a>
      {{/if}}
      <div class="description-text">
        {{if editing.description}}
          <view name="d-codemirror" text="{{track.md}}" options="{{ { tabSize: 2, lineNumbers: true, inlet: true, mode: 'markdown' } }}"></view> 
        {{/if}}
        {{unescaped track.description}}
      </div>
      
      <div class="data">
        {{if canEdit()}}
          {{if editing.data}}
            <a class="btn" on-click="save('data')">Save data</a>
          {{else}}
            <a class="btn" on-click="edit('data')">Edit data</a>
          {{/if}}
        {{/if}}
        <h1>Data</h1>
        {{if editing.data}}
          <select as="select">
            {{each dataTypes as #option}}
              <option value="{{#option}}" selected="{{track.data.type == #option}}">
              {{#option}}
              </option>
            {{/each}}
          </select>
        {{else}}
          <span class="type">{{track.data.type}}</span>
        {{/if}}
        {{if editing.data}}
         <textarea>{{preview}}</textarea>
        {{/if}}
        <pre class="preview">
          {{track.data.text}}
        </pre>
      </div>
    </div>
    <div class="right-wrapper">
      <div class="name">
        <a class="name" href="/track/{{#root._page.trackId}}/{{primary.id}}">
          {{primary.name}} - by {{#root.users[primary.userId].github.username}}
      </a>
      </div>
      <div class="tabs">
        {{if track.video || track.userId === #root._session.userId}}
        <a class="btn tab {{if selectedTab == 'video'}}active{{/if}}" on-click="selectTab('video')">Video</a>
        {{/if}}
        <a class="btn tab {{if selectedTab == 'primary'}}active{{/if}}" on-click="selectTab('primary')">Preview</a>
      </div>
      <div class="video {{if selectedTab !== 'video'}}hidden{{/if}}">
        {{if track.video}}
          <iframe width="420" height="315" src="{{track.video}}" frameborder="0" allowfullscreen></iframe>      
        {{else}}
          No video. 
          {{if canEdit()}}
          <br>Add a youtube embed URL: <input value="{{track.video}}">
          {{/if}}
        {{/if}}
      </div>
      <div class="primary-cypher {{if selectedTab !== 'primary'}}hidden{{/if}}">
        <view is="code-renderer"
          code="{{primary.code}}"
          data="{{track.data}}"
          libs="{{primary.libs}}"
          styles="{{primary.styles}}">
        </view>
      </div>
      <view is="d-showdown" text="{{track.md}}" html="{{track.description}}" options="{{ {} }}"></view>
      
    </div>
  </div>
  <div class="cyphers">
    {{each cyphers as #cypher}}
      {{if #cypher.id !== track.primaryId}}
      <div class="track-cypher" >
        <a class="name" href="/track/{{#root._page.trackId}}/{{#cypher.id}}">
          {{#cypher.name}} - by {{#root.users[#cypher.userId].github.username}}
        </a>
        {{if trackIsMine(#cypher.userId)}}
          <a class="make-primary" on-click="makePrimary(#cypher)">primary</a>
        {{/if}}
        <div class="cypher-thumb">
          <view is="code-renderer"
          code="{{#cypher.code}}"
          data="{{track.data}}"
          libs="{{#cypher.libs}}"
          styles="{{#cypher.styles}}">
          </view>
        </div>
      </div>
      {{/if}}
    {{/each}}
  </div>
  
