<index:>
  <div class="track-nav">
    <div class="name">
      {{if canEdit()}}
      <input value="{{#root.tracks[#root._page.trackId].name}}">
      {{else}}
        {{#root.tracks[#root._page.trackId].name}}
      {{/if}}
    </div>
    <br>
  </div>
  <div class="track-content {{if editing.description || editing.data || editing.more}}open{{/if}}">
    <div class="description">
      {{if canEdit()}}
        <a class="btn" on-click="edit('description')">
        {{if editing.description}}
          Done editing
        {{else}}
          Edit description
        {{/if}}
        </a>
      {{/if}}
      <div class="description-text">
        {{if editing.description}}
          <view name="d-codemirror" text="{{track.md}}" options="{{ { tabSize: 2, lineNumbers: true, inlet: true, mode: 'markdown' } }}"></view> 
        {{/if}}
        {{unescaped track.description}}
      </div>
    </div>
    <div class="right-wrapper">
      <div class="data">
        {{if canEdit()}}
          {{if editing.data}}
            <a class="btn" on-click="save('data')">Save data</a>
          {{else}}
            <a class="btn" on-click="edit('data')">Edit data</a>
          {{/if}}
        {{/if}}
        <h1>Data</h1>
        {{if editing.data}}
          <select as="select">
            {{each dataTypes as #option}}
              <option value="{{#option}}" selected="{{track.data.type == #option}}">
              {{#option}}
              </option>
            {{/each}}
          </select>
        {{else}}
          <span class="type">{{track.data.type}}</span>
        {{/if}}
        {{if editing.data}}
         <textarea>{{preview}}</textarea>
        {{/if}}
        <pre class="preview">
          {{track.data.text}}
        </pre>
      </div>
    </div>
    <view is="d-showdown" text="{{track.md}}" html="{{track.description}}" options="{{ {} }}"></view>
    <div class="more">
      {{if editing.more}}
        <a class="btn" on-click="edit('more')">Less</a>
      {{else}}
        <a class="btn" on-click="edit('more')">More</a>
      {{/if}}
    </div>
  </div>
  <div class="cyphers">
    {{if #root._session.loggedIn}}
    <div on-click="forkCypher()" class="track-cypher add-cypher">
      +
    </div>
    {{/if}}

    <div class="track-cypher primary" >
      <a class="name" href="/track/{{#root._page.trackId}}/{{primary.id}}">
        <img class="avatar" src="{{#root.users[primary.userId].github._json.avatar_url}}">
        <span class="n">
        {{primary.name}}
        </span>
      </a>
      <div class="cypher-thumb">
        <view is="code-renderer"
        code="{{primary.code}}"
        data="{{track.data}}"
        libs="{{primary.libs}}"
        styles="{{primary.styles}}">
        </view>
      </div>
    </div>
    {{each cyphers as #cypher}}
      {{if #cypher.id !== track.primaryId }}
      <div class="track-cypher">
        <a class="name" href="/track/{{#root._page.trackId}}/{{#cypher.id}}">
          <img class="avatar" src="{{#root.users[#cypher.userId].github._json.avatar_url}}">
          <span class="n">
          {{#cypher.name}}
          </span>
        </a>
        {{if trackIsMine(#cypher.userId) && #cypher.id !== track.primaryId}}
          <a class="make-primary" on-click="makePrimary(#cypher)">p</a>
        {{/if}}
        <div class="cypher-thumb">
          <view is="code-renderer"
          code="{{#cypher.code}}"
          data="{{track.data}}"
          libs="{{#cypher.libs}}"
          styles="{{#cypher.styles}}">
          </view>
        </div>
      </div>
      {{/if}}
    {{/each}}
  </div>
  
