editorHeight = 300px
tabHeight = 35px
.code-editor
  .CodeMirror
    width: 100%
    min-height: editorHeight
  .CodeMirror-gutters
    min-height: editorHeight
  .tabs
    margin: 10px
    height: tabHeight
    .tab
      width: 100px
      float:left
      padding: 10px
      border: 1px solid gray
      height: tabHeight
      cursor: pointer
    .active
      background-color: tealDarker
      color: red 

  .editor-container
    border: 1px solid tealLighter
    width: 100%
    height: 100%
