editorHeight = 300px
tabHeight = 30px
.code-editor
  .CodeMirror
    width: 100%
    min-height: editorHeight
  .CodeMirror-gutters
    min-height: editorHeight
  .CodeMirror-scroll
    height: calc(100% - 32px)
  .tabs
    margin: 5px
    height: tabHeight
    .tab
      width: 35px
      float:left
      text-align: center
      padding: 5px
      height: tabHeight
      cursor: pointer
      border-radius: 3px
    .active
      color: cyellow
      background-color: cblueDark

  .editor-container
    border: 1px solid tealLighter
    width: 100%

  .read-only
    .CodeMirror
      //opacity: 0.6  
      background: cgrayLightest
      span,div,p,pre
        cursor: default
.cursors
  display: none

.cursor
  position: absolute
  width: 50px
  height: 30px
  pointer-events: none
  .line
    border-left: 1px solid black
    height: 20px
    margin-top: -15px
    opacity: 0.4
  .dot
    width: 4px
    height: 4px
    background: red
    
.avatar
  margin-top: 0px
  opacity: 0.8
  width: 26px
  height: 26px