headerHeight = 80px

editorHeight = calc(100% - 6px)

.cypher
  width: 100%
  height: 100%
  position:absolute

  .track-nav
    position:absolute
    top: -81px
    left: 100px
    line-height: headerHeight
    a,a:visited
      color: cyellow
      font-weight: bold
      font-family: Roboto
      border: none
    a:hover
      color: cgreen

  //.presences
  .presence
    img
      width: 30px

.single-cypher
  position: absolute
  top: 0px
  margin: 0
  margin-top: headerHeight
  padding: 0
  //display: flex
  height: calc(100% - 100px)
  width: 100%

  .cypher-container
    width: 100%
    height: 100%

  .extras
    margin-top: -40px
    margin-left: 30px

    .avatar
      margin-top: 7px
      float:left

    .fork
      color: cyellow
      margin-left: 30px
      background: cblueDark
      padding: 10px
    .fork:hover
      color: cgreen

    .cypher-name
      margin-left: 5px
      line-height: 40px




  .component-renderer
    float: left
    width: 50%
    height: calc(100% - 20px)

  .right-wrapper
    position: absolute
    top: 0
    right: 0
    width: 49%
    height: 100%
    background-color: rgb(247, 247, 247)
  
  .code-editor
    position: absolute
    width: 100%
    height: calc(100% - 46px)
    top: 40px
    bottom: 0
    .tabs
      position:absolute
      top: -40px
      right: 5px

    .editor-container
      position: absolute
      top: 0px
      width: 100%
      height: editorHeight
    .d-codemirror
      height: editorHeight
    .CodeMirror
      min-height: 100%
    .CodeMirror-gutters
      min-height: 100%

  .presences
    position:fixed
    bottom: 0
    height: 40px
    width: 100%
    background: #e0e0e0

    .presence
      background: #f4f4f4
      float: left
      margin: 5px
      height: 30px
      span
        color: #050505
        display:block
        float:right
        padding: 0px 10px
        height: 30px
        line-height: 24px

    .editor
      border-bottom: 3px solid black

    .inactive
      opacity: 0.5
      span
        color: #a9a9a9
    
    .show-cursors
      line-height: 40px
      float:right
      margin-right: 10px

