headerHeight = 60
halfHeader = headerHeight/2
thirdHeader = headerHeight/3

cred = #F2627C
cblueDarkest = #445765
cblueDark = #157EBF
cblue = #4AA8E2
cblueLight = #C8EBF3
cgreen = #AFE274
cyellow = #FFFFED

cgrayLightest = #E9ECEF
cgrayLight = #DBE0E5
cgray = #A9AFB4
cgrayMedium = #979A9E
cgrayDark = #7D8185
cgrayDarkest = #6C6D6E

cblack = #192F41

@import "../../../components/code-editor"
@import "../../../components/code-renderer"
@import "../../../node_modules/d-codemirror/node_modules/codemirror-inlet/inlet.css"


@import "./home"
@import "./track"
@import "./cypher"


body
  font-family: 'Source Sans Pro'
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  color: cblack
  position:absolute

a, a:visited
  color: cblueDarkest
  font-weight: 700
  text-decoration: none
  border-bottom: 2px solid cgrayDarkest

.header-bg
  position: absolute
  top:0
  height: headerHeight
  left:0
  right:0
  background-image: url("/img/header.png")
  z-index: -2

.nav-header
  background-color: rgba(25, 47, 65, 0.95) //cblack
  height: headerHeight
  z-index: -1
  font-family: Roboto

  a, a:visited
    color: cyellow

  a:hover
    color: cgreen
    img
      border-bottom: 3px solid cgreen

  .nav-link
    padding: 0px 15px
    float: left
    height: headerHeight
    line-height: headerHeight
    //background: red
    border: none
  .login
    float: right
  .username
    float: right
    span
      line-height: headerHeight
      height: headerHeight
      float:right
  .avatar
    float:left
    height: halfHeader px
    margin-top: 25px
    margin-right: 10px
  .logout
    float: right

.btn
  cursor: pointer
  padding: 4px

.hidden
  display: none