@import "../../../components/code-editor"
@import "../../../components/code-renderer"
@import "../../../components/cypher"
@import "../../../node_modules/d-codemirror/node_modules/codemirror-inlet/inlet.css"

@import "./home"
@import "./room"

headerHeight = 60px

body
  font-family: 'Source Sans Pro'


.nav-header
  background-color: orange
  height: headerHeight

  .nav-link
    line-height: headerHeight
    background: red
    padding: 5px 10px
  .login
    float: right
  .logout
    float: right


.hidden
  display: none