// track

headerHeight = 80px
trackHeight = 420px

.track
  //.new-cypher

  .track-nav
    position:absolute
    top: 0
    left: 100px
    line-height: headerHeight
    color: cyellow
    font-weight: bold
    font-family: Roboto

    

  .track-content
    max-height: trackHeight
    overflow: hidden
    background-color: cblueDark

    &.open
      min-height: calc(100% - 100px)
      transition: min-height 0.3s
      .more
        top: calc(100% - 55px)
        transition: top 0.3s

      .description
        min-height: 100%


    .right-wrapper
      width: 49%
      max-width: 420px
      float: right
      margin-right: 10px
      height: trackHeight

      iframe
        min-height: 200px

    .description
      width: 49%
      height: 100%
      color: cyellow
      float: left

    .more
      position:absolute
      top: 465px
      left: 50%
      background: cyellow
      padding: 5px
      padding-top: 0


    .btn
      color: cgreen
      padding: 0px
      padding-left:5px
      margin-top: 10px
      margin-right: 10px
      float: right

    .description-text
      padding: 10px
      font-family: "Source Sans Pro"

    .data
      margin-left: 10px
      textarea
        width: 100% 
        min-height: 200px

      .type
        color: cgrayLightest

      .preview
        width: calc(100% - 15px)
        overflow: hidden;
        text-overflow: ellipsis; 
        padding-top: 5px
        padding: 5px
        background-color: cgrayLightest

      h1
        padding: 0
        margin: 0
        
    .video
      //margin: 10px auto
      width: 420px
      height: 315px
      clear:left
      float:left

    .name
      margin: 5px 0px
      color: cyellow
      float:left
      clear:left

    .btn
      text-decoration: none
      color: cblack

    .tabs
      float:right
      .tab
        line-height: 40px
        height: 40px
        display:inline-block
        margin:0
        padding: 0px 10px
    .active
      background: cblue
      color: cyellow


  .add-cypher
    float: left
    width: 300px
    height: 235px
    display: block
    font-size: 120px
    cursor: pointer
    text-align: center
    line-height: 225px

  .track-cypher
    float:left
    margin: 5px
    padding: 15px
    background: cgrayLight

    .avatar
      float:left

    .name
      width: 300px
      overflow:hidden
      line-height:45px
      display:block
      height: 35px
      span.n
        float:left
        width: 250px
        overflow:hidden
        line-height:24px
        height:27px
        padding: 0px 5px

      span.p
        float:right
        display:block
        float:right
        padding: 0px 10px
        height: 30px
        line-height: 24px

    .make-primary
      display:inline-block
      float: right
      margin-top: -50px
      margin-right: -10px

  .cyphers
    padding-top: 20px
    width: 100%
    height: 100%
    float: left
    clear: left
    background-color: cyellow


  .primary
    background-color: cgray
  
  .cypher-thumb
    width: 300px
    height: 200px
    .component-renderer
      width: 600px
      height: 400px
      transform: scale(0.5)translate(-50%, -50%)
    iframe
      min-height: 0

