// track

headerHeight = 80px
trackHeight = 450px

.track
  //.new-cypher
  a,a:visited
    color: black
    font-family: Roboto
  a:hover
    color: black

  .track-nav
    position:absolute
    top: 0
    left: 100px
    line-height: headerHeight
    color: cyellow
    font-weight: bold
    font-family: Roboto

  background-color: #e2e8e9
    
  .track-expand
    max-height: 100%
    overflow: auto
  .track-content
    max-height: trackHeight
    overflow: hidden


    .right-wrapper
      width: 49%
      border: 1px solid green
      float: right
      height: trackHeight

      iframe
        min-height: 300px

    .description
      width: 49%
      height: 100%
      color: black
      float: left

    .description-text
      padding: 10px
      font-family: "Source Sans Pro"

    .data
      margin: 10px
      width: 100%
      textarea
        width: 100% 
        min-height: 200px

      .preview
        width: 100%
        overflow: hidden;
        text-overflow: ellipsis; 


    .primary-cypher
      margin: 10px auto
      width: 420px
      height: 315px
      float: left
      clear:left

    .video
      margin: 10px auto
      width: 420px
      height: 315px
      clear:left
      float:left

    .name
      margin: 5px
      color: red
      float:left
      clear:left

    .btn
      margin: 5px
      padding: 5px
      text-decoration: none
      color: blue

    .tabs
      float:left
      clear:left
    .active
      background: white
      color: green

      
  .track-cypher
    float:left
    margin: 5px
    padding: 15px
    background: #f8f8f8

    .name
      line-height:45px

    .make-primary
      float: right

  .cyphers
    width: 100%
    height: 100%
    float: left
    clear: left

  .cypher-thumb
    width: 300px
    height: 300px
    .component-renderer
      width: 600px
      height: 600px
      transform: scale(0.5)translate(-50%, -50%)
    iframe
      min-height: 0

