// track

headerHeight = 80px
trackHeight = 370px

.track
  //.new-cypher

  .track-nav
    position:absolute
    top: 0
    left: 100px
    line-height: headerHeight
    color: cyellow
    font-weight: bold
    font-family: Roboto

    
  .track-expand
    max-height: 100%
    overflow: auto

  .track-content
    max-height: trackHeight
    overflow: hidden
    background-color: cblueDark

    &.open
      min-height: 100%


    .right-wrapper
      width: 49%
      max-width: 420px
      float: right
      margin-right: 10px
      height: trackHeight

      iframe
        min-height: 200px

    .description
      width: 49%
      height: 100%
      color: cyellow
      float: left

      .btn
        color: cgreen
        padding: 0px
        padding-left:5px
        margin-top: 10px
        float: right

    .description-text
      padding: 10px
      font-family: "Source Sans Pro"

    .data
      margin-left: 10px
      border-top: 1px solid cyellow
      .btn
        margin: 0
        padding: 0
      textarea
        width: 100% 
        min-height: 200px

      .type
        color: cgrayLight

      .preview
        width: 100%
        overflow: hidden;
        text-overflow: ellipsis; 
        padding-top: 5px

      h1
        padding: 0
        margin: 0
        


    .primary-cypher
      //margin: 10px auto
      width: 420px
      height: 315px
      float: left
      clear:left

    .video
      //margin: 10px auto
      width: 420px
      height: 315px
      clear:left
      float:left

    .name
      margin: 5px 0px
      color: cyellow
      float:left
      clear:left

    .btn
      text-decoration: none
      color: cblack

    .tabs
      float:right
      .tab
        line-height: 40px
        height: 40px
        display:inline-block
        margin:0
        padding: 0px 10px
    .active
      background: cblue
      color: cyellow

      
  .track-cypher
    float:left
    margin: 5px
    padding: 15px
    background: #f8f8f8

    .name
      line-height:45px

    .make-primary
      float: right

  .cyphers
    width: 100%
    height: 100%
    float: left
    clear: left
    background-color: cblueLight

  .cypher-thumb
    width: 300px
    height: 200px
    .component-renderer
      width: 600px
      height: 400px
      transform: scale(0.5)translate(-50%, -50%)
    iframe
      min-height: 0

